<section class="contador">
  <h2 class="titulo">Faltan para nuestro gran día</h2>

  <div class="contenedor-tiempo">

    <div class="card">
      <div class="snow"></div>
      <div class="numero">{{ Tiempo.Dias }}</div>
      <div class="label">Días</div>
    </div>

    <div class="card">
      <div class="snow"></div>
      <div class="numero">{{ Tiempo.Horas }}</div>
      <div class="label">Horas</div>
    </div>

    <div class="card">
      <div class="snow"></div>
      <div class="numero">{{ Tiempo.Minutos }}</div>
      <div class="label">Min</div>
    </div>

    <div class="card">
      <div class="snow"></div>
      <div class="numero">{{ Tiempo.Segundos }}</div>
      <div class="label">Seg</div>
    </div>

  </div>
</section>