<section class="countdown">
    <div class="title">FALTAN</div>

    <div class="timer">

        <div class="time">
            <span class="num">{{ pad(days) }}</span>
            <span class="label">Días</span>
        </div>

        <span class="colon">:</span>

        <div class="time">
            <span class="num">{{ pad(hours) }}</span>
            <span class="label">Horas</span>
        </div>

        <span class="colon">:</span>

        <div class="time">
            <span class="num">{{ pad(minutes) }}</span>
            <span class="label">Min</span>
        </div>

        <span class="colon">:</span>

        <div class="time">
            <span class="num">{{ pad(seconds) }}</span>
            <span class="label">Seg</span>
        </div>

    </div>
</section>